<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyan.mapper.BrandMapper">
    <!--
        id:主键映射
            column: 数据库表的列名
            property：实体类(pojo)属性名
        result：一般字段映射
        column: 数据库表的列名
            property：实体类(pojo)属性名
    -->
    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="selectAll" resultMap="brandResultMap">
        select *
        from tb_brand;
    </select>

    <!--
    参数占位符：
        1. #{} sql语句中替换为？  select * from tb_brand where id = ？; 防SQL注入。
        2. ${} 拼接sql ，存在sql注入问题。
        3. 使用时机：
            参数传递：#{}
            列名表名不确定：${}
    特殊字符处理：
        1. 转义： 如 < 换为 &lt;
        2. CDATA: CDATA区内会当纯文本处理，不会与xml冲突
                select *
            from tb_brand
            where id
            <![CDATA[
            <
            ]]> #{id};
    -->
    <select id="selectById" resultMap="brandResultMap">
        select *
        from tb_brand
        where id = #{id};
    </select>


<!--        &lt;!&ndash;-->
<!--            条件查询-->
<!--        &ndash;&gt;-->
<!--        <select id="selectByCondition" resultMap="brandResultMap">-->
<!--            select *-->
<!--            from tb_brand-->
<!--            where status = #{status}-->
<!--              and company_name like #{companyName}-->
<!--              and brand_name like #{brandName}-->
<!--        </select>-->

    <!--
    动态条件查询
-->
    <select id="selectByCondition" resultMap="brandResultMap">
        select *
        from tb_brand
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name like #{companyName}
            </if>
            <if test="brandName != null and brandName != ''">
                and brand_name like #{brandName}
            </if>
        </where>

    </select>
</mapper>