<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    包扫描，指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean,例如 mapper 中的 resultType ，
    并且不区分大小写 ，详见 MyBatis 官网  -->
    <typeAliases>
        <package name="com.cyan.pojo"/>
    </typeAliases>

    <!--    environments配置数据库连接信息，适应不同环境，如开发环境，测试环境，生产环境   -->
    <!--    通过default更换环境   -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://139.9.119.150:3306/MyBatis?useSSL=false"/>
                <property name="username" value="dbadmin"/>
                <property name="password" value="Manager123."/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/cyan/mapper/UserMapper.xml"/>
        <mapper resource="com/cyan/mapper/BrandMapper.xml"/>
    </mappers>
</configuration>